.outpost_app {
  position: relative;
  overflow: hidden;
  .power_indicator {
    position: absolute;
    width: 100%;
    top: 38px;
    border-radius: 14px;
  }
  .icon {
    position: absolute;
  }
}
