.building-modal-mask {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.building-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  padding: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.building-modal_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.building-card {
  width: 100%;
  height: 80px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 12px;
}
